server.modules = (
	"mod_access",
	"mod_accesslog",
	"mod_alias",
	"mod_compress",
 	"mod_redirect",
	"mod_rewrite"
)

#server.document-root       = "/var/www/html"
server.document-root        = "/var/www/jail"
server.upload-dirs          = ( "/var/cache/lighttpd/uploads" )
server.errorlog             = "/var/log/lighttpd/error.log"
accesslog.filename          = "/var/log/lighttpd/access.log"
server.pid-file             = "/var/run/lighttpd.pid"
server.username             = "www-data"
server.groupname            = "www-data"
server.port                 = 80
server.bind                 = "192.168.50.10"


index-file.names            = ( "index.php", "index.html", "index.lighttpd.html" )
url.access-deny             = ( "~", ".inc" )
static-file.exclude-extensions = ( ".php", ".pl", ".fcgi" )

compress.cache-dir          = "/var/cache/lighttpd/compress/"
compress.filetype           = ( "application/javascript", "text/css", "text/html", "text/plain" )

# default listening port for IPv6 falls back to the IPv4 port
include_shell "/usr/share/lighttpd/use-ipv6.pl " + server.port
include_shell "/usr/share/lighttpd/create-mime.assign.pl"
include_shell "/usr/share/lighttpd/include-conf-enabled.pl"

$HTTP["host"] == "connectivitycheck.gstatic.com" {
            server.document-root = "/var/www/connectivitycheck.gstatic.com"
            url.rewrite-once = ( "/generate_204" => "/index.php" )
}

$HTTP["host"] == "connectivitycheck.android.com" {
            server.document-root = "/var/www/connectivitycheck.gstatic.com"
            url.rewrite-once = ( "/generate_204" => "/index.php" )
}

$HTTP["host"] == "clients3.google.com" {
            server.document-root = "/var/www/connectivitycheck.gstatic.com"
            url.rewrite-once = ( "/generate_204" => "/index.php" )
}

$HTTP["host"] == "${AP_SSID}" {
            server.document-root = "/var/www/html"
}

$HTTP["host"] == "${AP_SSID}.com" {
            server.document-root = "/var/www/html"
}

$HTTP["host"] == "php-proxy" {
            server.document-root = "/var/www/php-proxy"
}
